body {
    background: #6060c0
	font-family: 'c64mono', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: 'c64mono';
    src: url('resources/C64_Pro_Mono-STYLE.ttf') format('truetype');
}
